@import "./reset";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

html,
body {
    font-family: 'Poppins', sans-serif;
}


//colors
$green : #00a88e;
$light-green: #23d1ae;

// nav

.nav {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
    height: 100px;

    &-logo {
        font-size: 48px;
        font-weight: 700;

        & a {
            color: $green;

        }
    }

    a {

        border-bottom: 0px solid $green;
        transition: all 0.3s ease;
        color: black;
    }

    &-list {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 30px;
        position: relative;
        padding: 10px;

        &__column {
            margin-top: 10px;
            display: flex;
            flex-direction: column;
            position: absolute;
            gap: 10px;
            background-color: #fff;
            padding: 10px;
            left: 0px;
            transform: scaleY(0);
            z-index: 1;
        }



        a:hover,
        span:hover {
            visibility: visible;
            border-bottom: 3px solid $green;
            transition: all 0.1s ease;
            cursor: pointer;
        }

        &__item.active {


            .nav-list__column {
                transform: scaleY(1);
                transition: all 0.2s ease;
            }
        }


    }

    .nav-menu {
        width: 50px;
        padding: 5px;
        border-radius: 5px;
        transition: all 0.2s ease;
        cursor: pointer;


        &:hover {
            background-color: $light-green;
        }

        & img {
            width: 100%;
        }
    }


}

//block-1


.block-1 {
    display: flex;
    flex-direction: column;
    height: 700px;
    background: rgb(255, 255, 255);
    background: linear-gradient(326deg, rgba(255, 255, 255, 1) 0%, rgba(4, 181, 154, 1) 0%, rgba(255, 255, 255, 1) 97%, rgba(0, 180, 152, 1) 100%);
    padding: 60px 30px;
    overflow: hidden;


    .side-menu {
        background-color: #fff;
        position: absolute;
        transform: scale(1, 0);
        top: 200px;
        right: 0;
        transition: all 0.3s ease;
        padding: 20px;
        border-radius: 10px 0 0 10px;
        z-index: 1;



        &__item {
            padding: 10px;
        }

        &__item a:hover {
            color: $light-green;
            transition: all 0.2s ease;

        }

        &__item a {
            color: black
        }

    }

    .side-menu.active {
        transition: all 0.3s ease;
        display: block;
        transform: scale(1, 1);
        right: 0;

    }

    .slider {
        &-title {
            font-size: 40px;
            font-weight: 700;
            color: black;
        }

        &-body {
            height: 50px;
            width: 100%;
            overflow: hidden;
        }

        .slider-container {
            position: relative;
            bottom: 0;
            transition: all 0.5s ease;
        }

        .slider-container__item {
            height: 50px;
            font-size: 28px;
            color: $green;
            font-weight: 700;
        }

    }

    .search {
        display: flex;

        .search-img {
            height: 50px;
            width: 50px;
            border-top: 1px solid #ccc;
            border-right: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
            margin-top: 100px;
            border-radius: 0 3px 3px 0;
            background-color: #fff;
            cursor: pointer;

            & img {
                padding: 7px 10px;
            }
        }
    }

    .search-inp {
        display: block;
        margin-top: 100px;
        width: 40%;
        border-left: 1px solid #ccc;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        height: 50px;
        border-radius: 3px 0 0 3px;
        padding: 10px 16px;
        line-height: 20px;
        position: relative;
        background-color: #fff;
        margin-bottom: 50px;

        &:focus {
            border: 1px solid $green;
        }

        .search-inp::placeholder {
            color: #868686;
            font-weight: 300;
        }

    }

    .block-1-buttons {
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
        width: 70%;


        .block-1-buttons__button {
            padding: 10px 20px;
            border-radius: 30px;
            background-color: $light-green;
            color: #fff;
            border: 1px solid $green;

        }

        .block-1-buttons__button:hover {
            transition: all 0.1s ease;

            box-shadow: 0 0px 8px $light-green;
        }
    }

    .block-1__a {
        margin-top: 30px;

        & a {
            font-size: 24px;
            font-weight: 700;
            color: black;
            transition: all 0.3s ease;


            &:hover {
                color: $green;
            }
        }
    }

}

//block-2

.block-2 {
    background-color: $green;
    padding-bottom: 10px;

    &-text {
        display: flex;
        gap: 30px;
        padding: 60px 30px;

        &__left {

            color: white;
            font-weight: 700;
            font-size: 32px;
            line-height: 1;
        }

        &__right {
            color: white;
        }
    }
}

.block-3-galery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    position: relative;

    .block-3-modal {
        position: absolute;
        display: none;
        background-color: #ccc;
        top: 0px;
        left: 50px;
        right: 50px;
        bottom: 0px;
        z-index: 1;
        border-radius: 10px;

        .modal-cross {
            position: absolute;
            top: 10px;
            right: 10px;
            width: 50px;
            cursor: pointer;
            background-color: #adadad;
            border-radius: 10px;
        }

        .modal-image {
            width: 100%;
            object-fit: cover;
            border-radius: 10px;

        }

        &.active {
            display: flex;
            justify-content: center;

        }
    }

    &__item {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        object-fit: cover;
        width: 30%;
        cursor: pointer;



        img {
            width: 100%;
            height: 100%;
            border-radius: 10px;

        }

        span.title {

            visibility: hidden;
            position: absolute;
            top: 10px;
            left: 10px;
            font-size: 1rem;
            letter-spacing: 0.5em;
            font-weight: bold;
            color: white;

        }

        span.body {
            visibility: hidden;
            position: absolute;
            top: 70%;
            left: 10%;
            font-size: 0.9rem;
            letter-spacing: 0.3em;
            font-weight: medium;
            color: white;


        }

        &:hover {

            span.title {
                visibility: visible;
            }

            span.body {
                visibility: visible;
            }
        }
    }

}